<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:utext="#{project.name}"></title>
    <link href="../static/css/element/index.css" rel="stylesheet" th:href="@{/css/element/index.css}">
    <!-- 自定义css文件 -->
    <link href="../static/css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
    <div id="sso">
        <div class="cherish-helper">
            <div class="cherish-content">
                <div class="cherish-title center">Cherish-Hui共享平台登录入口(SSO)</div>
                <div class="page-content center">
                    <el-row class="cherish-row" type="flex" align="center">
                        <div style="font-size:45px;">Sign Up</div>
                    </el-row>
                    <form id="loginForm" action="/sso/save" th:action="@{/sso/save}" method="post">
                        <el-row class="cherish-row" type="flex" align="center">
                            <el-col :span="24">
                                <el-input placeholder="请输入用户名" v-model="name" name="name">
                                    <template slot="prepend">账号</template>
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-row class="cherish-row" type="flex" align="center">
                            <el-col :span="24">
                                <el-input placeholder="请输入密码" type="password" v-model="password" name="password">
                                    <template slot="prepend">密码</template>
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-row class="cherish-row" type="flex" align="center">
                            <el-col :span="24">
                                <el-button style="width:100%;" type="primary" @click="login">登录</el-button>
                            </el-col>
                        </el-row>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer" class="footer" v-cloak>
            <span th:text="#{footer.textBefore}">有问题发送邮件至</span>
            <el-button type="text" @click="sendMail" class="footer-txt" th:text="#{footer.emailGroup}">服务支持(cherish-Hui)
            </el-button>
        </div>
    </div>

    <script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script src="../static/js/element.js" th:src="@{/js/element.js}"></script>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- 定义vue组件 -->
    <script th:fragment="vue">
        new Vue({
            el: '#sso',
            data: {
                name: '',
                password: '',
            },
            created: function () {

            },
            methods: {
                login: function () {
                    $('#loginForm').submit();
                },
                sendMail: function () {
                    window.location.href = 'mailto:1191837698@qq.com';
                },
            },
        })

    </script>

</body>

</html>