<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="com.cherish.demo.dao.SSODao">

    <resultMap id="UserResultMap" type="com.cherish.demo.entity.User">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userEnglishName" column="user_english_name"></result>
        <result property="userPassword" column="user_password"></result>
        <result property="userSex" column="user_sex"></result>
        <result property="userBirth" column="user_birth"></result>
        <result property="userOriginProvince" column="user_origin_province"></result>
        <result property="userOriginCity" column="user_origin_city"></result>
        <result property="userOriginArea" column="user_origin_area"></result>
        <result property="userTel" column="user_tel"></result>
        <result property="userStatus" column="user_status"></result>
        <result property="userEntryTime" column="user_entry_time"></result>
        <result property="userQuitTime" column="user_quit_time"></result>
        <result property="userDeptId" column="user_dept_id"></result>
        <result property="userPositionId" column="user_position_id"></result>
        <association property="dept" javaType="com.cherish.demo.entity.Dept">
            <id property="deptId" column="dept_id"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
        <association property="position" javaType="com.cherish.demo.entity.Position">
            <id property="positionId" column="position_id"></id>
            <result property="positionName" column="position_name"></result>
        </association>
    </resultMap>

    <select id="selectOneUser" parameterType="com.cherish.demo.entity.User" resultMap="UserResultMap">
        select * from samoyed_user_user a
        left join samoyed_user_dept b on a.user_dept_id=b.dept_id
        left join samoyed_user_position c on a.user_position_id= c.position_id
        where 1=1
        <if test="userName !=null and userName != ''">
            and a.user_name=#{userName}
        </if>
        <if test="userPassword !=null and userPassword != ''">
            and a.user_password=#{userPassword}
        </if>
    </select>

</mapper>